:root {
  --color-bg: #ffffff;
  --color-text: #17191e;

  color-scheme: light dark;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0e0f12;
    --color-text: #f7f7f8;
  }
}

body {
  margin: 0;
}

[hidden] {
  display: none !important;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 48px 16px;
}
